.layout-size {
    background-color: #166AB8;
}

.container-l {
    display: block;
    height: 720px;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
}

.flex-container {
    display: flex;
    padding-top: 45px;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.container-l {
    display: block;
    height: 980px;
    width: 100%;
}

@media (min-width: 768px) {
    .container-l {
        display: block;
        height: 1300px;
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        width: 100%;
        gap: 40px;
    }
}

@media (min-width: 916px) {
    .container-l {
        display: block;
        height: 720px;
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        padding-top: 75px;
    }

    .layout-size {
        padding: 0 100px 0 100px;
    }
}

@media (min-width: 1800px) {
    .container-l {
        display: block;
        height: 700px;
        width: 100%;
    }

    .layout-size {
        display: block;
        padding: 0 300px 0 300px;
        background-color: #166AB8;
    }
}