.layout-background-blue {
    background-color: #166AB8;
}

.layout-colour-gradient {
    background-color: #004469;
    background-image: linear-gradient(160deg, #004469 0%, #80D0C7 100%);
}

.layout-colour-gradient2 {
    background-color: #004469;
    background-image: linear-gradient(0deg, #004469 0%, #80D0C7 33%, #b7e8e2 66%, #d0d0d0 100%);
}

.layout-colour-dark-blue {
    background-color: #1B2331;
}

.container-l {
    display: block;
    height: auto;
    padding-bottom: 40px;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-auto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 5rem;
}

.flex-container-carousel {
    display: flex;
    padding-top: 75px;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.flex-container {
    display: flex;
    padding-top: 75px;
    flex-direction: column;
    width: 100%;
}

.flex-box {
    padding-top: 60px;
}

/* CatalogPage.jsp */
.flex-catalog-row {
    display: flex;
    flex-direction: row;
    padding: 80px;
    height: auto;
}

.flex-filter {
    width: 20%;
    background-color: antiquewhite;
}

.flex-catalog {
    width: 80%;
    background-color: cyan;
}


@media (min-width: 768px) {
    .container-l {
        height: auto;
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 916px) {
    .container-l {
        height: auto;
        width: 100%;
    }

    .flex-container,
    .flex-container-carousel {
        display: flex;
        flex-direction: row;
        padding-top: 75px;
        justify-content: center;
    }

    .layout-size {
        padding: 0 100px 80px 100px;
    }

    .flex-column-auto {
        padding-bottom: 0;
    }

}

@media (min-width: 1800px) {
    .container-l {
        height: auto;
        width: 100%;
    }

    .layout-size {
        display: block;
        padding: 0 300px 100px 300px;
    }

    .flex-column-auto {
        padding-bottom: 0;
    }
}