<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- The rest of your web.xml content -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>org.skillspark.onlinelearningplatform.controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>org.skillspark.onlinelearningplatform.controller.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ChapterServlet</servlet-name>
        <servlet-class>org.skillspark.onlinelearningplatform.controller.ChapterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorMainPageServlet</servlet-name>
        <servlet-class>org.skillspark.onlinelearningplatform.controller.TutorMainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChapterServlet</servlet-name>
        <url-pattern>/ChapterServlet</url-pattern>
    </servlet-mapping>
    <!--    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>-->
    <servlet-mapping>
        <servlet-name>TutorMainPageServlet</servlet-name>
        <url-pattern>/TutorMainPageServlet</url-pattern>
    </servlet-mapping>
</web-app>
